Lab_Chat_Agent_With_Email_Notification.json
{
  "name": "LAB",
  "nodes": [
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        112,
        -144
      ],
      "id": "054cefb0-85b6-4028-b591-75524534e2c4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "s7h2icDLzKqlx1Ma",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        80,
        -368
      ],
      "id": "cedf5175-f0b8-4e3d-8b91-fb523b5cb7f4",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "sendTo": "=231B131@juetguna.in,\n231B141@juetguna.in,\n231B133@juetguna.in,\n231B128@juetguna.in,\n231B134@juetguna.in",
        "subject": "Hey , We have taken your complain in notice",
        "emailType": "text",
        "message": "={{ $json.fields.CHAT }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        -368
      ],
      "id": "d6c41b8a-80d6-4415-9629-50485c2e4c80",
      "name": "Send a message2",
      "webhookId": "379cb3f2-cb7d-46c6-b517-9c35f4773884",
      "credentials": {
        "gmailOAuth2": {
          "id": "IpGFgqS5zVyIi4r2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appaRniY765HJ97pe",
          "mode": "list",
          "cachedResultName": "LAB",
          "cachedResultUrl": "https://airtable.com/appaRniY765HJ97pe"
        },
        "table": {
          "__rl": true,
          "value": "tblt2DqwGXC0Ljowv",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appaRniY765HJ97pe/tblt2DqwGXC0Ljowv"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CHAT": "={{ $json.text }}"
          },
          "matchingColumns": [
            "CHAT"
          ],
          "schema": [
            {
              "id": "CHAT",
              "displayName": "CHAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        400,
        -368
      ],
      "id": "310dc0e2-18db-4e95-bbf5-93e6bcea61e9",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ZmhQ6ij0EAqxPK0P",
          "name": "Airtable Personal Access Token account 4"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -368
      ],
      "id": "b87f12d1-cdbd-41c6-9fd5-680f224b2487",
      "name": "When chat message received",
      "webhookId": "28d0c0b2-cdc5-4e83-94ae-9b99241c119c"
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}