Web_Chat_Agent_With_MCP.json
{
  "name": "Web",
  "nodes": [
    {
      "parameters": {
        "endpointUrl": "https://dark09.app.n8n.cloud/mcp/18d410b9-07c4-44da-bfad-d47461034bab"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        160,
        96
      ],
      "id": "90f65e52-d536-405d-aa74-e2ce951a181e",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        -96
      ],
      "id": "6094d240-8264-4747-b088-38325a3bb25f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -96
      ],
      "id": "5f6763f4-95e2-4805-99fe-b028c0b016a6",
      "name": "Webhook",
      "webhookId": "fe4385e6-b081-4033-8866-2f80bd880b05"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        240,
        -96
      ],
      "id": "07390127-03a4-4314-a0cb-d0764f20b517",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.message }}",
        "collectionName": "webchat",
        "databaseName": "Email",
        "contextWindowLength": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -80,
        112
      ],
      "id": "c79b6cff-0314-4d5a-9d1c-36a4825de739",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "h07lXvMpCTtJhUhH",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        112
      ],
      "id": "dd42b5a1-093c-4c05-8778-57b4cdda44c6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EOqDGzN03cQiQ91q",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "connections": {
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}