WhatsApp_MCP_Client_Chatbot.json
{
  "name": "MCP Client",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        128
      ],
      "id": "49263e26-896f-4558-946d-3d2866486f6d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EOqDGzN03cQiQ91q",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $( 'Chat Received') .item.json.contacts\n[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        128
      ],
      "id": "fefb3b9f-c6a3-4874-95a7-bf53d28fcae7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://dark09.app.n8n.cloud/mcp/18d410b9-07c4-44da-bfad-d47461034bab"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        256,
        112
      ],
      "id": "399c4d32-e7a2-4303-abe1-b3a6b3092020",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "807282902463605",
        "recipientPhoneNumber": "+918882966791",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        352,
        -80
      ],
      "id": "70abdd1d-10b1-4398-930b-c443a229f3fc",
      "name": "Send message",
      "webhookId": "26c74151-d753-47ee-8525-2c10d6cfba9c",
      "credentials": {
        "whatsAppApi": {
          "id": "gAiULHBc0wbbqz4U",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -80
      ],
      "id": "3f1ee55f-c867-4494-9fdd-91f78d1b8929",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -80
      ],
      "id": "03f9149f-ffad-4552-b90a-d518e6b512ff",
      "name": "Chat Received",
      "webhookId": "15a6158d-799e-42cf-952e-1abcb8aa6df6"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}